/*
IE8
*/

/*fix ie*/
.fix-ie-td{
	text-align:center;
	border-left:1px solid #095ea5;
	border-right:2px solid #095ea5;
	font-size:15px;
	font-weight:bold;
	padding: 0px 5px;
	width:18%;

}
.fix-ie-last-child-td{
	height:211px;
}
.fix-ie-div{
	line-height:41px !important;
	border-bottom:1px solid #095ea5;
	padding:0px 20px;
}
.container-comment .scroll-bar-comment{
	overflow-y:scroll;
	height:263px!important;
}
/**/