<%= user.username %>

<div id="usersList"></div>

<script>
	
	var SailsCollection = Backbone.Collection.extend({
		sailsCollection: "",
		socket: null,
		sync: function(method, model, options){
			var where = {};
			if (options.where) {
				where = {
					where: options.where
				}
			}		
			if(typeof this.sailsCollection === "string" && this.sailsCollection !== "") {
				this.socket = io.connect();			
				this.socket.on("connect", _.bind(function(){
					this.socket.request("/" + this.sailsCollection, where, _.bind(function(users){
						this.set(users);
					}, this));

					this.socket.on("message", _.bind(function(msg){
						var m = msg.verb;
						console.log(m);
						if (m === "create") {
							this.add(msg.data);
						} else if (m === "update") {
							alert("ajunge");
							this.get(msg.id).set(msg.data);
						} else if (m === "destroy") {
							console.log("yep");
							this.remove(this.get(msg.id));
						}
					}, this));
				}, this));
			} else {
				console.log("Error: Cannot retrieve models because property 'sailsCollection' not set on collection");
			}
		}
	});

	var ChatUserModel = Backbone.Model.extend({
		urlRoot: '/chatusers',
	});

	var ChatUserCollection = SailsCollection.extend({
		sailsCollection: 'chatusers',
		model: ChatUserModel,
	});

	var users = new ChatUserCollection();
	users.fetch();


	_.templateSettings = {
		interpolate : /\{\{(.+?)\}\}/g
	};
	var UsersView = Backbone.View.extend({
		el: '#usersList',
		initialize: function () {
			this.collection.on('add', this.render, this);
			this.collection.on('change', this.render, this);
			this.render();
		},
		template: _.template("<div><p><b>{{ username }}</b></p></div>"),
		render: function () {
			this.$el.html("");
			this.collection.each(function(msg){
				this.$el.append(this.template(msg.toJSON()));
			}, this)
		}
	});

	var mView = new UsersView({collection: users});

	setTimeout(function(){
		//alert("asd");
		users.create({username:"<%= user.username %>"}, {wait: true});
	}, 2000);
</script>